@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth@75..100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}


/* NAVIGATION BAR */

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website__btn--list {
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    gap: 20px;
}

.website__btn {
    border-radius: 16px;
    font-size: 20px;
    line-height: 42px;
    border-color: black;    
    color: white;
    background-color: black;
    cursor: pointer;
}

.movie__searchbar { 
    background-color: transparent;
    border-style: none;
    font-size: 24px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 8px;
}

.nav__link:hover {
    font-size: 24px;
    color: red;
    text-decoration: underline;
    transition: all 200ms ease;
}

.header__container {
    align-items: center;
    padding: 12px;
    margin: 18px;
}

.purple {
    color: #6c63ff;
    font-weight: 800;
}

h1 {
    font-size: 60px;
    padding: 12px;
}

h2 {
    padding: 25%;
    font-size: 40px;
    font-weight: 500;
}

p {
    font-size: 36px;
    padding: 25%;
    flex-wrap: wrap;
}

.textbox {
    font-size: 32px;
    border-radius: 16px;
    padding: 12px;
    justify-content: space-between;
}

/* FOOTER  */

#footer__page {
    background-color: black;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-width: 0px;
}

.footer__container {
    display: flex;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__link {
    font-size: 30px;
    align-items: center;
    color: white;
    padding: 0 40% 20px;
}